scikit_image==0.18.1
scikit_learn==0.24.0
ttach==0.0.2
opencv_contrib_python_headless==4.5.1.48
matplotlib
numpy==1.17.3
config==0.4.2
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cu111
